html,
body {
  height: 100%;
  margin: 0;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}


.box header {
  flex: 0 1 auto;
  z-index: 1;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box section {
  flex: 1 1 auto;
  z-index: 2;  /* make tab order 2nd in the whole page */
}

.box footer {
  flex: 0 1 40px;
  z-index: 3;
  font-weight: lighter;
}



#sidenav span, i{
    color: white !important;
    font-weight: lighter;
}
#sidenav a{
    margin-top: 10px;
    transition: all 300ms;
}

#headnav a{
    color: white !important;
    transition: all 300ms;
}

#sidenav a:hover{
    transform: scale(1.1, 1.1);
}

#sidenav {
    
    height: 100%; /* Full-height: remove this if you want "auto" height */
    max-width: 160px; /* Set the width of the sidebar */
    position:sticky; /* Fixed Sidebar (stay in place on scroll) */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

#headnav, #sidenav{
    background-color: #184C52;
    color: whitesmoke;
  }

