* {
  box-sizing: border-box;
}

#myInput {
  /* background-image: url('/css/searchicon.png'); */
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#personTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 14px;
}

table tr:nth-child(even) {
  background: #ccc;
}

#personTable th,
#personTable td {
  text-align: left;
  padding: 11px;
}

#personTable tr {
  border-bottom: 1px solid #ddd;
}

#personTable tr.header,
#personTable tr:hover {
  background-color: #f1f1f1;
}

/***********   Button  ******/
.btn {
  background-color: #184C52;
  border-radius: 50px;
  color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  width: 10%;
  float: right;
}

.btn>a {
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background-color: #e9a442;
}

li {
  display: inline;
}

ul {
  /* border-radius: 50px; */
  list-style-type: none;
  margin: 0;
  padding: 5px 0px 5px 0px;
  overflow: hidden;
  background-color: #184C52;
}

li a {
  display: inline;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #e9a442;
}

.edit {
  color: blue;
  cursor: pointer;
}

.boton {
  color: black;
  padding: 5px;
  margin: 10px;

  background-color: #b9c9fe;
  font-weight: bold;
}

/******************
Classes
******************/

/*.two-col {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 5px;
}
@media screen and (min-width: 768px) {
	.two-col {
		grid-gap: 15px;
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (min-width: 1440px) {
	main {
		width: 80%
	}
}