html,
a:link { text-decoration: none;
	text-decoration-line:none; }

body {
  height: 100%;
  margin: 0;
}



.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box header {
  flex: 0 1 auto;
  z-index: 1;
}

.box section {
  flex: 1 1 auto;
  z-index: 2; 
}

.box footer {
  flex: 0 1 40px;
  z-index: 3;
  font-weight: lighter;
}


/****** Forms ******/

form {
	width: 90%;
	margin: 0 auto;
}
fieldset {
    background-color: #d9d9d9;
	margin: 25px 5px;
}
legend {
    background-color: #194c52;
    color: white;
}
label {
	margin-bottom: 5px;
	margin-top: 5px;
}
select, textarea, input[type=text], input[type=email], input[type=tel], input[type=date], input[type=number] {
	background-color: white;
	color: black;
	border: 1px solid black;
	height: 25px;
	width: 100%;
}
/*textarea {
	height: 100px;
}
select {
	height: 25px;
}*/
input[type=submit], button[type=submit]{
	background: #e9a442;
	color: whitesmoke;
	border: 2px solid whitesmoke;
	font-size: 16px;
	margin-top: 15px;
    margin-bottom: 15px;
	padding: 5px 25px;
}
.two-col {
	display: inline-block;
	grid-template-columns: 2fr;
    grid-template-rows: 2fr;
	grid-gap: 5px;
}