/***********   Button  ******/

.block-action {
  background-color: #184C52;
  border-radius: 50px;
  color: #fff;
  margin: 5px;
  text-align: center;
  text-decoration: none;
}

.block-action-red {
  background-color: red;
  border-radius: 50px;
  color: #fff;
  margin: 5px;
  text-align: center;
  text-decoration: none;
}

.block-action:hover {
  background-color: #e9a442;
}

.red {
  color: #d53031;
}

/******** Table ********/

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 14px;
}

table>thead tr {
  background-color: #184C52;
  border-radius: 50px;
  color: #fff;
}

table tr:nth-child(even) {
  background: #ccc;
}

table th,
table td {
  text-align: left;
  padding: 11px;
}

table tr {
  border-bottom: 1px solid #ddd;
}

table>tbody tr:hover {
  background-color: #f1e5c0;
}

main {
  flex: 1;
  width: 100%;
}

/******** form fieldset padding ********/
fieldset div.row {
  padding-left: 30px !important;
}
fieldset legend{
  padding-left: 20px;
}