/***********   Button  ******/

.block-action {
  background-color: #184C52;
  border-radius: 50px;
  color: #fff;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
}

.block-action:hover {
  background-color: #e9a442;
}

.red {
  color: #d53031;
}